.index
  .notices
    %h2 Select the actions that you would like to receive email notices for
    - form_for @user, :url => user_profile_path(@user), :builder => HandcraftedFormBuilder do |f|
      - f.fields_for :profile, :builder => HandcraftedFormBuilder do |p|
        = hidden_field_tag 'scope', params[:scope]
        %table
          %tr
            %td.left
              New Follower:
            %td.right
              = p.radio_button("follower_notice", true)
              = p.label("follower_notice_true", "Yes please")
          %tr
            %td.left
            %td.right.radio
              = p.radio_button("follower_notice", false)
              = p.label("follower_notice_false", "No thanks")
          %tr
            %td.left
              New Comment:
            %td.right
              = p.radio_button("comment_notice", true)
              = p.label("comment_notice_true", "Yes please")
          %tr
            %td.left
            %td.right.radio
              = p.radio_button("comment_notice", false)
              = p.label("comment_notice_false", "No thanks")

          %tr
            %td.left
              New Message:
            %td.right
              = p.radio_button("email_notice", true)
              = p.label("email_notice_true", "Yes please")
          %tr
            %td.left
            %td.right.radio
              = p.radio_button("email_notice", false)
              = p.label("email_notice_false", "No thanks")

        = f.submit "", :class => 'white_save'
        
