#basic-modal-content.box-holder
  .first_box
    %h2 Sign in to The Hype
    - form_tag session_path do
      %fieldset
        .row
          = label_tag 'login', "Username or email"
          = text_field_tag 'login', nil, {:class => 'label_example'}
          %p= link_to "Forgot your username?", new_password_url(), :class => "forgotten_password"
        .row
          = label_tag "password"
          = password_field_tag 'password', nil, {:class => "label_example"}
          %p= link_to "Forgot your password?", new_password_url(), :class => "forgotten_password"
      
        .save_actions
          = submit_tag '', :id => 'sign-in-button'
          %label
            = check_box_tag 'remember_me'
            Remember me

  .second_box
    .info_box
      %p We are currently in a private alpha.  
      %p If you do not have an account please enter your email on the previous page  
      %p and we will send you  an invite.
      %span Thanks!
  .clear
