= render(:partial => 'inbox/menu', :locals => {:selected => 'messages'}) 
#messages-index
  #inbox-header
    = link_to("", new_inbox_message_path, :id => "new-message-button")
    = will_paginate_messages(@messages)
  .toolbar
    .selection
    .filter
      %ul
        %li Show
        %li{ :class => showing_unread? ? nil : 'selected' }= link_to_if(showing_unread?, "All", inbox_messages_path)
        %li{ :class => showing_unread? ? 'selected' : nil }= link_to_unless(showing_unread?, "Unread", unread_inbox_messages_path)
  #inbox-body.messages
    - if @messages.count > 0
      - @messages.each do |message| 
        - div_for(message, :class => inbox_element_dom_class(message)) do 
          - other = message.other_user(current_user)  
          .sender
            -if other.name!='The Hype Team'
              = link_to(image_tag(other.profile.avatar.url(:small), :class => 'avatar'), user_path(other))
              = link_to(other.name, user_path(other), :class => 'name')
            -else
              =image_tag(other.profile.avatar.url(:small), :class => 'avatar')
              %span{:class=>'name'}
                =other.name
          = link_to(truncate(message.subject, :length => 50, :omission => '...'), inbox_message_path(message), :class => 'subject')
          .truncated-body
            = link_to(truncate(message.body, :length => 50, :omission => '...'), inbox_message_path(message), :class => 'body-prev')
          .date
            = message.created_at.strftime("%B %d, %Y")
          = link_to("Delete", inbox_message_path(message), :method => :delete, :class => :delete)
          -if other.name!='The Hype Team'
            = link_to("Reply", reply_inbox_message_path(message), :class => "message-reply-link")
            
    - else
      .blank-slate
        - if showing_unread?
          You have no unread messages.
          = link_to("View all messages.", inbox_messages_path)
        - else 
          You have no messages

  #inbox-footer
    = will_paginate_messages(@messages)

