#new-message-popup
  .form-header
    = image_tag 'app/logo_popups.png'
    %h2
      New message
    - if @message.receiver
      %span{:style=>"float:right;"}
        = image_tag(@message.receiver.profile.avatar.url(:small))
    %br.clear
  .form-body
    - form_for(@message, :url => inbox_messages_path) do |f|
      .inputs-area
        %div
          = label_tag :receiver_autocomplete, "To:"
          = text_field_tag :receiver_autocomplete, "#{@message.receiver ? @message.receiver.name : ''}", :size => 30
          = f.hidden_field :receiver_id
          = f.error_message_on :receiver_id
      
        %div
          = f.label :subject, "Subject:"
          = f.text_field :subject
          = f.error_message_on :subject
    
        %div
          = f.label :body, "Message:"
          = f.text_area :body, :cols => 50, :rows => 8
      
      .buttons-area
        = f.submit "Send", :class => 'send-new-message'
        = link_to "Cancel", 'javascript:;', :id => 'cancel-new-message'
        .clear
  
    .clear
= javascript_include_tag 'new_message_form'
