.columns.one.clearfix
  .column.one
    %h1= "Editing #{@item.name}"
    
    / Edit user form
    - form_for @item, :url => admin_item_url(@item), :builder => HandcraftedFormBuilder do |form|
      = form.text_field :name, :example => "Wii"
      = form.select 'category_id', ItemCategory.all.map{|c| [c.name, c.id]}
      = form.text_area :short_description, :example => "Short description", :style => 'height:200px; width:730px;'
      = form.text_field :url, :example => "http://google.com"
      = form.text_field :twitter_query, :example => "Enter keywords for Twitter Search (e.g. #wii)"
      = form.text_field :facebook_query, :example => "Enter keywords for Facebook Search (e.g. Wii)"
      -if @item.category.api_source == 'event' 
        .row.text_field
          %label Start Date
          = text_field_tag :start_date,  @start_date
        .row.text_field
          %label Start Time
          = text_field_tag :start_time,  @start_time
        .row.text_field
          %label End Date
          = text_field_tag :end_date,  @end_date
        .row.text_field
          %label End Time
          = text_field_tag :end_time,  @end_time
        :javascript
          $("#start_date").AnyTime_picker( { format: "%M, %e %z", firstDOW: 1, labelTitle : 'Select Start Date' });
          $("#start_time").AnyTime_picker(   { format: "%h:%i %p", labelTitle : 'Select Start Time' });
          $("#end_date").AnyTime_picker( { format: "%M, %e %z", firstDOW: 1, labelTitle : 'Select End Date' });
          $("#end_time").AnyTime_picker(   { format: "%h:%i %p", labelTitle : 'Select End Time' });
        = form.text_field :venue_name
      -if @item.category.api_source == 'event'  || @item.category.api_source == 'place'
        = form.text_field :address
        = form.text_field :city
        = form.text_field :state
        = form.text_field :country
        = form.text_field :zip

      = hidden_field_tag('primary_image')

      #admin-additional-images
        %h1= "Images"
        #image_search_results
          - for media in @item.medias
            .google_image_wrap{:id => media.id}
              - if media.primary
                = image_tag(media.image_url(:thumb), :class => 'search_image selected_primary', :alt => media.id.to_s)
                = check_box_tag('existing_image_checkbox[' + media.id.to_s + ']', media.id.to_s)
              - else
                = image_tag(media.image_url(:thumb), :class => 'search_image selected_image', :alt => media.id.to_s)
                = check_box_tag('existing_image_checkbox[' + media.id.to_s + ']', media.id.to_s, :checked)
        
        = text_field_tag('search_term', @item.name)
        %a#load_more_images{:href =>'#'} Load More Images
      = form.submit "Update item", :disable_with => 'Saving....'
  .clear
  %br
  %br
  %br
  %br
  = link_to "Add image from url", new_admin_item_item_media_path(@item)
