.columns.one.clearfix
  .column.one
    %h1= "Manage #{@site.name} items"
    
    .tabbs.clearfix
      %ul.ui-tabs-nav
        - for category in ItemCategory.all
          %li{:class => "#{'ui-tabs-selected' if category.id == @category.id}"}
            = link_to category.name, admin_items_path(:category => category.id)
      .clearfix
      #tab1
        %h2
          = @category.name
        - unless @items.empty?
          %table{:class => "listings sortable", :cellspacing => "0", :cellpadding => "0"}
            = render :partial => 'thead'
            %tbody{:id => "items"}
              = render :partial => "item", :collection => @items
        - else
          %p There are no items.
