.columns.one.clearfix
  .column.one
    %h1= "Manage #{@site.name} categories"
    
    %p= link_to "Add a new category", new_admin_item_category_url()
    
    - if !@item_categories.empty?
      %table{:class => "listings sortable", :cellspacing => "0", :cellpadding => "0"}
        = render :partial => 'thead'
        %tbody{:id => "item_categories"}
          - @item_categories.each do |category|
            %tr
              %td= link_to category.name, edit_admin_item_category_url(category)
              %td= category.description
              %td= category.tag_name
              %td= link_to "Delete", admin_item_category_url(category), {:method => :delete}

    - else
      %p There are no categories.
