= render(:partial => 'inbox/menu', :locals => {:selected => 'comments'}) 
#comments-show
  #inbox-header
    = link_to(image_tag('/images/app/inbox/back-comments.png'), inbox_comments_path, :class => 'back')
    = link_to(image_tag('/images/app/inbox/delete-button.png'), inbox_comment_path(@comment, :from_show => true), :id => "delete-button", :method => :delete)
    .pagination
      = previous_comment_button(@comment)
      = next_comment_button(@comment)
  - div_for(@comment, :class => 'comment') do#, :class => comment_dom_class(@comment)) do 
    .sender
      = link_to(image_tag(@comment.user.profile.avatar.url(:small), :class => 'avatar'), user_path(@comment.user))
      = link_to(@comment.user.name, user_path(@comment.user), :class => 'name')
    .date
      = @comment.created_at.strftime("%B %d, %Y")
    .subject
      = comment_subject(@comment)
    .body
      = @comment.comment_text
    = link_to("Reply", 'javascript:;', :id => "message-reply-toggle-link")
  .inline-reply-form{ :style => "display: none;" }
    - form_for Comment.new, :url => inbox_comments_path(:old_comment_id => @comment.id), :method => :post do |f|
      = f.text_area :comment_text
      = f.submit "", :class => 'send-button'
  #inbox-footer


