.columns.one.clearfix
  .column.one
    %h1= "#{@site.name} Application Dashboard"

    %p= "Welcome to the #{@site.name} admin dashboard. Navigate the admin area using the navigation to the right or above."
    
    %p= "Total Users: #{User.count}"
    - if @site.beta_invites?
      %p= "Total Unused Invites #{Invite.unused.count}"
      %p= "Total Unapproved Invites: #{Invite.unapproved.count}"