.profile-column-left#details
  #quick-user-info.profile_section
    .avatar
      = image_tag(@profile.avatar.url(:xlarge))
    .friend-wrapper
      - if logged_in? && current_user != @user
        .add-to-friends#add{:class => "#{@add_to_friends_display}", :style=>"margin-top:-2px;"}
          = link_to image_tag('/images/app/follow_me_large.png'), "#", :rel => @user.id, :title => "Add to friends"
        .add-to-friends#remove{:class => "#{@friends_display}", :style=>"margin-top:-2px;"}
          = link_to image_tag('/images/app/unfollow_me_large.png'), "#", :rel => @user.id, :title => "Remove friend"
        .add-to-friends-bottom{:style=>"text-align:center"}
          = link_to image_tag('/images/app/user_profile_message_user.png', :onmouseover=>"this.src='/images/app/user_profile_message_user_mouseover.png'", :onmouseout=>"this.src='/images/app/user_profile_message_user.png'", :title=>"Send Message"), new_inbox_message_path(:user_id=>@user.id), :id => "new-message-button", :rel => @user.id, :onclick => "return blockButton();", :style=>"#{current_user.has_friend(@user) ? '' : 'display:none;'}"
          = image_tag('/images/app/user_profile_flag_user.png', :onmouseover=>"this.src='/images/app/user_profile_flag_user_mouseover.png'", :onmouseout=>"this.src='/images/app/user_profile_flag_user.png'", :title=>"Flag User", :style=>"margin-left:10px;")
          = image_tag('/images/app/user_profile_block_user.png', :onmouseover=>"this.src='/images/app/user_profile_block_user_mouseover.png'", :onmouseout=>"this.src='/images/app/user_profile_block_user.png'", :title=>"Block User", :style=>"margin-left:10px;")
          = image_tag('/images/app/user_profile_share_user.png', :onmouseover=>"this.src='/images/app/user_profile_share_user_mouseover.png'", :onmouseout=>"this.src='/images/app/user_profile_share_user.png'", :title=>"Share Profile", :style=>"margin-left:10px;")
      .wait{:style => 'display:none;'}
        = image_tag 'wait.gif', :class => 'wait'
    #user-vitals
      - unless (@profile.hide_date_of_birth && @user != current_user)
        %dl
          %dt Age 
          %dd= years_ago_in_words(@profile.birth_date)
      %dl
        %dt Sex 
        %dd= @profile.gender
      %dl
        %dt Location
        %dd= @profile.city
      %dl
        %dt Web
        %dd= link_to(@profile.blog, @profile.blog_link,  :target => '_blank') if @profile.blog
      %dl
        %dt= image_tag('/images/icons/twitter.png')
        %dd= link_to_twitter_profile(@user)
      %dl
        %dt= image_tag('/images/icons/fb_icon.png')
        %dd= link_to_facebook_profile(@user)
        
    #about-user
      %h3 About Me
      - if @profile.about_me.blank?
        = blank_section_text(@user, edit_user_profile_path(@user))
      - else 
        %p= more_less(split_words_by_length(@profile.about_me, 18))
      = edit_link_if_current(@user)
    
  
  - if (current_user == @user) && (@profile.signup_progress < 100)
    #user-signup-progress-info.profile_section
      .header
        %h3 Your Profile
        = link_to "", complete_it_destination_path, :id => 'complete-it-button'
      .progress-area
        = signup_progress_bar @profile.signup_progress
        = link_to "Why", '#'
      .description
        Authenticity=Credibility
  
  #user-profile-info
    #user-recently-hyped.profile_section
      .header
        %h3 Recently Hyped
      %div
        - @reviews.each do |review|
          - item = Item.first(:id => review.item_id, :select => 'name, id')
          %dl
            %dt= link_to(truncate(item.name, :length => 15), item_path(item.id))
            %dd= short_time_ago_in_words(review.created_at) + ' ago'
        
    #user-interests.profile_section
      .header
        %h3 Interests
        = edit_link_if_current(@user)
      
      - if (@interests = @profile.interests) and @interests.count > 0
        .tag_cloud
          - tag_cloud(tag_list(@interests), %w[xs s l xl xxl]) do |interest, tag_class|
            %span{:class => tag_class}
              = interest.name
      - else
        = blank_section_text(@user, edit_user_profile_path(@user))
    #user-all-time-top-hyped.profile_section
      .header
        %h3 All-Time Hyped Items
        = edit_link_if_current(@user, edit_user_favorites_path(@user, :from => "profile"))
      - if (@top = @user.top) and @top.count > 0
        %div
          - @top.each do |top|
            - item = Item.first(:id => top.item_id, :select => 'name,id, category_id')
            %dl
              %dt #{item.category.name}:
              %dd= link_to(truncate(item.name, :length => 15), item_path(item.id))
      - else
        = blank_section_text(@user, edit_user_favorites_path(@user))
    #user-essentials.profile_section
      .header
        %h3 My Essentials
        = edit_link_if_current(@user)
      - if has_any_essentials?(@user)
        %dl
          - @user.essentials.each do |essential|
            %dt= essential.essential_category
            %dd= essential.item.nil? ? '&nbsp;' : link_to(truncate(essential.item.name, :length => 25), item_path(essential.item.id))
      - else
        = blank_section_text(@user, edit_user_profile_path(@user)) 
    #user-trusted-brands.profile_section
      .header
        %h3 Brands I use and trust
        = edit_link_if_current(@user)
      - if @profile.trusted_brands.count > 0
        %ul 
          - @profile.trusted_brands.each do |brand|
            %li= brand.name
      - else
        = blank_section_text(@user, edit_user_profile_path(@user))
