.user.person.vcard
  .padding
    .content.clearfix
      .actions
        .avatar
          =link_to image_tag(user.profile.avatar.url(:large), :class => 'photo'), "/users/#{user.id}" 
        .friend-wrapper
          - if logged_in? && (@user ? @user : current_user) != user
            .add-to-friends#add{:style => "#{current_user.has_friend(user) ? 'display:none' : ''}"}
              = link_to image_tag('/images/app/avatar_follow.png'), "#", :rel => user.id, :title => "Add to friends"
            .add-to-friends#remove{:style => "#{current_user.has_friend(user) ? '' : 'display:none'}"}
              = link_to image_tag('/images/app/avatar_unfollow.png'), "#", :rel => user.id, :title => "Remove friend"
            .wait{:style => 'display:none'}
              = image_tag 'wait.gif', :class => 'wait'
      .info{:style=>"width:auto;margin-left:20px;"}
        %h3.fn
          /= link_to truncate(h(user.name), :length => 23), :url => {:controller => :users, :action => :show, :id => user.id}
          / no idea why it's not working
          =link_to user.name, "/users/#{user.id}" 
        - if review = user.reviews.first  and item = Item.first(:id => review.item_id, :select => 'name, id') 
          %span.label Last Hype:
          %span.title= link_to(truncate(h(item.name), :length => 13), item_path(item.id))
          %span.time= short_time_ago_in_words(review.created_at) + " ago"
      .add-to-friends-bottom{:style=>"float:right; margin:-18px 250px;"}
        = link_to image_tag('/images/app/message.png', :title=>"Send Message"), new_inbox_message_path(:user_id=>user.id), :id => "new-message-button", :rel => user.id, :onclick => "return blockButton();", :style=>"#{(current_user && current_user==@user && current_user.has_friend(user)) ||   (current_user && current_user.has_friend(user) && current_user.has_friend(@user ? @user : current_user)) ? '' : 'display:none'}"
      %br.clear
