.index
  %h2 Headings showing an asterisk is information that is displayed on your Profile Page. Be sure to Save any changes!
  #centered_forms
    .padding
      = error_messages_for :user
      - form_for @user, :builder => HandcraftedFormBuilder, :html => {:method => :put, :multipart => true, :class => 'user_edit'} do |f|
        %fieldset
          %legend Edit your details
          %h3.first General Info
          = f.text_field :login, :example => "johnsmith", :label => "Username", :readonly=>true
          - f.fields_for :profile, :builder => HandcraftedFormBuilder do |p|
            = p.text_field :first_name
            = p.text_field :last_name
          = f.text_field :email, :example => "johnsmith@gmail.com", :hint => 'We do not spam! Only used to authenticate your account'
          - f.fields_for :profile, :builder => HandcraftedFormBuilder do |p|
            - if @site.user_avatar_upload?
              = p.file_field :avatar
              = image_tag(@user.profile.avatar.url(:large))
            %div{:class => 'row'}
              .left
                %label{:class => 'text_field_label'} Date of birth
                = p.date_select :birth_date, {:start_year => Time.zone.today.year - 105 }, {:class => 'birth'}
              .right
                %label.checkbox
                  = p.check_box_without_div :hide_date_of_birth, :label => ''
                  Hide my age
              .description
                %a Why do you need this?
            = f.select :time_zone, time_zone_options_for_select(@user.time_zone), :include_blank => true, :hint => 'Used to localize events for you'
            = p.select :gender, Profile.genders, { :include_blank => false }, {:class => 'gender'}
            %h3 I'm Living In*
            = p.country_select(:country, 'Country' => nil)
            = p.text_field :city, :label => 'City, State', :class => 'city'
            %h3 
              Web Presence
              %span.hint This will be displayed on your profile
            = p.text_field :blog, :label => 'Blog/Website'
            %h3 Education
            = p.select(:education_level_id, EducationLevel.all.collect{|edu| [ edu.name, edu.id ] }, :include_blank => 'None', :label => '')
            %h3 Job/Career
            = p.text_field :job, :label => '', :class => 'career'
            %div{:class => 'row'}
              %h3 A Blurb About Me*
              = p.text_area :about_me, :label => '', :cols => 15, :rows => 5
            %h3 
              My Essentials*
              %span.hint be specific as possible
            - @user.essentials.each_with_index do |essential, index|
              - fields_for("user[essentials][]", essential, :index => index) do |essential_builder|
                %div{:class => 'row text_field essentials'}
                  = essential_builder.label :item_id, essential.essential_category
                  = essential_builder.text_field :item_name, :class => 'essential_search'
                  = essential_builder.hidden_field :item_id, :class => 'essential_item_id'
                  = essential_builder.hidden_field :essential_category
              
            %h3 Consumer Type
            - ConsumerType.all.each do |consumer_type|
              %div{:class => 'row radio consumer_type'}
                %label
                  = p.radio_button :consumer_type_id, consumer_type.id
                  = consumer_type.name
                .description
                  = consumer_type.description
            %h3 The Brands I Use And Trust*
            = p.text_field :trusted_brand_list, :label => '', :hint => 'please separate by commas'
            %h3 
              My interests*
              %span.hint.interests please list in order of importance w/ first being most important
            = p.text_field :interest_list, :label => '', :hint => 'please separate by commas' 
            /= p.select :hyper_type, Profile.hyper_types, :include_blank => true
          = f.submit "", :class => 'save' do
            -# link_to "Cancel and go back", @user
