.index#new-user-signup
  .learn_more
    = link_to "Learn more", '/about'
  #centered_forms.span-13
    = image_tag(@data.empty? ? 'app/signup-header.png' : 'app/signup-header-facebook-session.png', :id => 'signup-header',:style =>'margin-left: -3px; unless @data.empty? else margin-left: -3px;')
    .padding
      .span-13{:style=>"width: 524px;"}
        - if @data.empty?
          .header
            %h2 Create your Account
            .link_area
              Already have an account? 
              = link_to "Sign in", login_path
          .fb_connect_button
            = fb_login_button("window.location = '/users/new?id_provider=facebook&invite=invite-#{@invite.id if @invite}';", :v => 2, :length => :long)
            =image_tag("/images/app/fb_login_icon.png",:style=>"position:absolute;top:116px;left:82px;")
          .clear
          .register_tips
            = image_tag('/images/app/register_arrow.png')
        - else
          .header
            .link_area
              Already have an account?
              = link_to "Sign in", login_path
          %table
            %tr
              %td
                = image_tag('/images/app/facebook_after_fetch.png', :width=>40, :height=>40)
              %td{:style=>"padding-left:15px;"}
                %b
                  %font{:size => "2"}
                    Before we create your account please verify your information and complete any fields that are in green. Thank you.
        = error_messages_for_all :user
        - green_style = 'border:7px solid #49a325;'
        - blue_value="color:CornflowerBlue;"
        - form_for @user, :builder => HandcraftedFormBuilder do |f|
          - f.fields_for :profile, :builder => HandcraftedFormBuilder do |p|
            %fieldset
              %legend Create an Account
              = f.text_field :login, :example => "johnsmith", :label => "Username", :style=>((!@data.empty?&&@user.login.blank?) ? (green_style+blue_value) : blue_value)
              .description
                Your page at www.thehype.com/
                %strong<>username
              = p.text_field :first_name, :example => "John", :value => @data[:first_name], :style=>((!@data.empty? && @data[:first_name].blank?) ? (green_style+blue_value) : blue_value)
              = p.text_field :last_name, :example => "Smith", :value => @data[:last_name], :style=>((!@data.empty? && @data[:last_name].blank?) ? (green_style+blue_value) : blue_value)
              
              #user_passwd
                - @user.password =@user.password_confirmation= nil
                = f.password_field :password, :style=>((!@data.empty?) ? (green_style+blue_value) : blue_value)
              .description
                Must be a minimum of 6 characters
              -if @user.errors.empty?
                #user_passwd_confirm
                  - @user.password =@user.password_confirmation= nil
                  = f.password_field :password_confirmation, :label => "Confirm", :style=>((!@data.empty?) ? (green_style+blue_value) : blue_value)
              -else
                #user_passwd_confir
                  - @user.password =@user.password_confirmation= nil
                  = f.password_field :password_confirmation, :label => "Confirm", :style=>((!@data.empty?) ? (green_style+blue_value) : blue_value)
              = f.text_field :email, :value => @email, :example => "johnsmith@gmail.com", :style=>((!@data.empty?&&!@user.email) ? green_style : blue_value)
              .description
                We do not spam! Only used to authenticate your account
              %div{:class => 'row date_select'}
                .left{:style=>((!@data.empty? && @data[:birth_date].blank?) ? "#{green_style}padding:4px 0;" : '')}
                  %label{:class => 'text_field_label', :for => 'user_profile_attributes_birth_date_1i'} Date of birth
                  -if  @data[:birth_date]
                    = p.date_select :birth_date, :start_year => Date.today.year ,:end_year=>Date.today.year- 105, :order => [:month, :day, :year], :default => Date.parse(@data[:birth_date])
                  - else
                    = p.date_select :birth_date,:start_year => Date.today.year ,:end_year=>Date.today.year- 105, :order => [:month, :day, :year], :include_blank => true
                .right
                  %label.checkbox
                    = p.check_box_without_div :hide_date_of_birth, :label => ''
                    Hide my age
              .description
                %div{:style=>"margin:8px 0;"}
                  = link_to "Why do you need this?", 'javascript:;', :class => 'help', :title => "The Hype requires all users to provide their date of birth to encourage authenticity and transparency as well as ensure age-appropriate access to the site. You can hide this information from your profile if you like by selecting,  'Hide my age'. <br/><br/> Please refer to The Hype <a href='/privacy'>Privacy Policy</a>  to learn more about your information.", :rel => 'rightTop-leftTop-min-350'
              = p.select :gender, Profile.genders, :include_blank => true, :selected => (!@data.empty? ? @data[:is_male] : @data_new[:is_male]), :value => (!@data.empty? ? @data[:is_male] : @data_new[:is_male]), :style=>((!@data.empty? && @data[:is_male].blank?) ? green_style : '')
                  
               
              = f.submit "", {:id => 'new-user-submit'}
              By "Joining" you agree to the 
              = link_to("Terms of service", '/terms', :target => '_blank')
      %br.clear  
  = render :partial => 'shared/reasons_to_join', :locals => {:show_title => true}
