:css
  .user_profile .header .container ul li a:hover {text-decoration:none;}
-content_for :scripts do
  = javascript_include_tag 'pagination/user_hype_pagination'
  = javascript_include_tag 'pagination/user_friends_pagination'
  = javascript_include_tag 'pagination/favorites_pagination'
.user_profile
  .header
    .container
      %h1= @user.name
      %ul
        %li.followers
          %a{:href=>"javascript:;", :style=>"color:#999999", :id=>"followers"}
            Followers
          %span.count
            = @user.followers.count
        %li.followers
          %a{:href=>"javascript:;", :style=>"color:#999999", :id=>"following"}
            Following
          %span.count
            = @user.following.count
        %li.hypes
          %a{:href=>"javascript:;", :style=>"color:#999999", :id=>"hypes"}
            Hypes
          %span.count
            = Review.count(:user_id => @user.id)
          
      %br.clear
      - if review = @reviews.first and item = Item.first(:id => review.item_id, :select => 'name, id')
        #last-hype
          %span.label Last Hype
          %span.title= link_to(truncate(item.name, :truncate => 20), item_path(item.id))
          %span.time= short_time_ago_in_words(review.created_at) + " ago"
      %br
      %br
  .container
    -#- cache(:key => @user.id.to_s + '_panel') do
    = render :partial => 'profile_column_left'
            
    #profile-lower.profile-column-right.page_body
      .tabs.clearfix
        = render :partial => "navigation"
        .index.favorites.tab#top_hypes
          -if @user.has_favorites?
            - for category in ItemCategory.roots
              - if (category_favorites, more = @user.paginated_favorites(category, true)) and !category_favorites.blank?
                %h1.style_1.clearfix= plural_category_name(category)
                %div{:id => 'fav_' + category.id, :rel => category.id, :class => 'fav_box'}
                  = render :partial => 'items/item', :collection => category_favorites
                  %div.show_link
                    = favorites_link(more)
          -else
            - if current_user == @user
              %p.empty
                You have no Favorites yet :-( 
                %span.bold 
                  Adding Favorites helps your friends easily discover what your most hyped about. 
              %p.info
                To Favorite an item just select the
                =image_tag('/images/app/favorite.png')
                icon anywhere you see it.  Currently, you can 
                Favorite an item by either going to the item page or when you Hype an item.
            - else
              %p.empty
                = h(@user.name)
                has no Favorites yet :-( 

        .index.hypes.tab#reviews
          .categories
            #user_id{:style => 'display: none'}= @user.id
            %ul
              %li Sort:
              %li
                %a{:href => '#', :class => 'set_hypes_category button selected', :style => 'margin-right: 2px;padding:2px;'} All
              - for category in ItemCategory.roots
                %li
                  %a{:href => '#', :class => 'set_hypes_category button', :rel => category.id,:style=>"padding:2px;"}= plural_category_name(category)
                  - count = hypes_count(@user.id, category.id)
                  %span.count
                    - if count.to_i > 0
                      ='[' + count +']'
          .user_reviews
        .index.hypes.tab#community
          = render(:partial => 'friends/select', :locals => {:target =>'friendships'})           
          #friendships{:style=>"margin-left:40px;"}
            - if !@friends.empty?
              = render(:partial => 'users/user_block', :object => @friends, :locals => {:friend_status=>'following'})
            - else
              = render(:partial => 'activities/no_friends', :locals => {:friend_status=>'following'})

        / .index.hypes.tab#conversations
        /   %h1.style_1
        /     Conversations
        /   %p{:style => "height:400px"} Later phase...
        / .index.hypes.tab#connections
        /   %h1.style_1
        /     Connections
        /   %p{:style => "height:400px"} Later phase...
        
        
    %br.clear
:javascript
  search_user_hypes($('.categories #user_id').text(), '', $('#reviews .user_reviews'));
  var _dummyObj = {    allowToOpen: "#{val=((current_user && @user!=current_user && @user.profile.private && !current_user.has_friend(@user)) ? true : false)}", userId:"#{ (current_user ? @user.id : '' )}"  };
  var _currentUserProfile = { id: "#{(@user ? @user.id : current_user.id)}" };
  