%div{:style => "display:none"}
  .popup-content{:id => "popup"}
    .header-logo
      = image_tag("app/logo_popups.png")
      %span{:id=>"help_text1",:style=>"color:#cccccc;display:inline;font-size:1.5em;position:relative;top:-20px;font-weight:bold;margin-left:9px;"}
      %span{:id=>"help_text2",:style=>"color:white;display:inline;font-size:1.5em;position:relative;top:-20px;font-weight:bold;text-transform:capitalize;"}
    %div{:id => "step_1"}
      %form{:method => "get", :id => "item_form", :action => user_path(current_user.id)} 

        .selector

        .mini-search
          .label
            .top Type in the name of the item:
            .bottom Be specific as possible (eg. "Apple iPhone 3GS")
          = text_field_tag("mini_search", @query)
          %span{:style => "display:none", :id => "result_item_id"}
          %span{:style => "display:none", :id => "result_item_name"}

        = submit_tag("add", :name => nil, :style => 'display: none;')
      .buttons-area
        .spinner 
          %img{:id => "spinner", :style => "display:none;", :src => "/images/wait.gif"}
        .cancel
          %a{:class => "cancel", :href => "javascript:;"}cancel
        %a{:id => "find_item", :href => "javascript:;"}
          = image_tag('app/next.png')
        .clear



    %div{:id => "step_2", :style => "display:none;"}
      .header
        You selected
        %span{:class => "item_name_link"}
        as your All-Time Top Hyped
        %span{:class => "category-name", :style => "font-size:normal"}
      .image
        .pic
          %img{:id => "item_image_url", :src => ""}
        .footer
          .top
            %span{:class => 'item_name'}
          .category-name
      .body
        .text
          /.header
          /  You selected&nbsp;
          /  %span{:class => "item_name"}
          /  as your All-Time Top
          /  %span{:class => "category-name", :style => "font-size:normal"}
          .button
            .label Would you like to contribute your wisdom for this item?
            %br
            .sub-label
              .sub-label-text
                Only Hype item you own or have direct experience with.
              .sub-label-qtip
                %a{:class=> 'policy qtip', :href=> 'javascript:;', :title => 'The Hype is designed to provide authenticity and transparency to the consumer marketplace. We believe that every consumer is entitled to reliable and trusted consumer information. As such, each user is highly encouraged to be transparent and complete their profile and is required to only post consumer feedback that is authentic. Users who create false or misleading profiles and/or post false or misleading information will be suspended from The Hype and may be held financiallty liable for any damages incured per Federal and International law.'} Authenticity Policy
            %br
            .hype-button
              %a{:href => '' , :class => "hype-item"}
                %img{:src => "/images/app/hypeit.png"}
        .buttons-area
          .back
            %a{:id => "back", :href => "javascript:;"}back

          %a{:id => "add", :href => "javascript:;"}
            = image_tag("app/add_it_long.png")
          .clear 
    %div{:id => "not_found", :style => "display:none;"}
      .text
        We do not have any matches for that item please make sure you spelled the item correctly & 
        %a{:class => "back2", :href => "javascript:;"}try again
        or be the first to add the item.
      .links
        .add_it
          %a{:rel => "fancybox", :id => "add_item", :href => ""}
            = image_tag("app/add_item_button.png")
            .label Add Item
        .back
          %a{:class => "back2", :href => "javascript:;"}back
        .clear
