.overlay_panel{:style => "display:none;"}
  .overlay_close
    X
  .overlay_arrow
  .overlay_content
    .container#snapshot_overlay
      .padding
        .content
          .header
            %h2 Hype Preview
          .body.clearfix
            .item_images
              =image_tag(item.image)
            .item_details
              %h2
                = h item.name
              .clearfix
                .item_content
                  .criteria
                    %span= "Image: " + item.criteria_1.to_i.to_s
                    %span= "Value: " + item.criteria_2.to_i.to_s
                    %span= "Utility: " + item.criteria_3.to_i.to_s
                  .tabs.clearfix
                    %ul.navigation
                      %li
                        %a.selected{ :href => "#pros_and_cons" }
                          Pros / Cons
                    #pros_and_cons.tab{ :style => "display: block;" }
                      .padding
                        %h3
                          Pro's and Con's
                        %h4 Pros
                        /= h item.pro_list
                        %h4 Cons
                        /= h item.con_list
                        
                .item_actions
                  .rating
                    = item.score.nil? ? "0" : '%.1f' % item.score.to_f
                  %p
                    = link_to pluralize(item.reviews.count, "review"), item_url(item.id, :anchor => "reviews")
