-show_title = show_title || false
#reasons-to-join.span-9.prepend-1.last
  - if show_title
    = image_tag 'signup/join-the-hype-community-text.png'
  #reasons_list
    %ul
      %li.showcase 
        %span.icon= image_tag 'signup/join-reasons-showcase.png'
        %span.text Showcase what gets you Hyped with your friends
      %li.share 
        %span.icon= image_tag 'signup/join-reasons-share.png'
        %span.text Share your consumer experiences in real time
      %li.store 
        %span.icon= image_tag 'signup/join-reasons-store.png'
        %span.text Store all your reviews on anything in one place
      %li.help 
        %span.icon= image_tag 'signup/join-reasons-help.png'
        %span.text Help make the consumer items you use better
      %li.find 
        %span.icon= image_tag 'signup/join-reasons-expert.png'
        %span.text Find and follow community-verified experts
      %li.connect 
        %span.icon= image_tag 'signup/join-reasons-connect.png'
        %span.text Connect with others with similar consumer taste
%br.clear
