.columns.one.clearfix
  .column.one
    %h1= "Manage #{@site.name} jobs"
    
    .tabs.clearfix
      %ul
        %li= link_to "Jobs", "#tab1"
        %li= link_to "Purge Queue", purge_queue_admin_jobs_url
      .clearfix
      #tab1
        = render :partial => "jobs"