= render(:partial => 'inbox/menu', :locals => {:selected => 'notices'}) 
#comments-index
  #inbox-header
    &nbsp;
  #inbox-body.comments
    - if @notices.count > 0
      - @notices.each do |comment| 
        - div_for(comment, :class => "comment") do 
          .sender
            -if comment.sender.name=='The Hype Team'
              =image_tag(comment.sender.profile.avatar.url(:small), :class => 'avatar')
              %span{:class=>'name'}
                =comment.sender.name
            -else
              = link_to(image_tag(comment.sender.profile.avatar.url(:small), :class => 'avatar'), user_path(comment.sender))
              = link_to(comment.sender.name, user_path(comment.sender), :class => 'name')
          .truncated-body
            = comment.info
            -if comment.item
              = link_to(truncate(comment.item.name, :length => 50), item_path(comment.item))
          .date
            = comment.created_at.strftime("%B %d, %Y")
    - else
      .blank-slate
        You have no notifications.

  #inbox-footer
    &nbsp;


