#panel.span-8.append-1
  %h1{:style=> "border:none;"}
    %table
      %tr
        %td.vuname
          Welcome,
          = current_user.name + '.'
        %td.vprofile
          %span.link{:style=>"margin-top:0;"}= link_to(image_tag('/images/app/Button_ViewProfile.png'), user_path(current_user))
    /Welcome,
    /= current_user.name + '.'
    /%span.link= link_to 'View Profile', user_path(current_user)
  %ul
    %li
      %span.header
        Inbox:
      %span.icons
        =link_to(image_tag('/images/icons/mail.png', :class => 'qtip', :alt => 'Messages', :rel => 'bottomLeft-topLeft'), inbox_messages_path)
        %span.count 
          = current_user.count_unread_messages
        =link_to(image_tag('/images/icons/comment.png', :class => 'qtip', :alt => 'Comments', :rel => 'bottomLeft-topLeft'), inbox_comments_path)
        %span.count
          = current_user.count_comment_replies
        =link_to(image_tag('/images/icons/notice.png', :class => 'qtip', :alt => 'Notices', :rel => 'bottomLeft-topLeft'), inbox_notices_path)
        %span.count
          = current_user.notices.count
    -unless current_user.profile.signup_progress == 100
      %li
        %span.header
          Profile:
        .progress-area
          = signup_progress_bar current_user.profile.signup_progress
          %span.hint 
            Authenticity=Credibility
        = link_to "", complete_it_destination_path, :id => 'complete-it-button'
        .clear
    %li.reputation
      %span.header
        Reputation:
      //=link_to(image_tag('/images/icons/expert.png'), '/', :class => 'expert')
      //=link_to 'Increase it!', '#', :class =>'orange'
      //=link_to 'How?', 'javascript::', :class => 'qtip', :title => "It's easy"
      %span.hint
        Feature coming soon
    %li.community
      %span.header
        Community:
      %span.icons
        %span.hint Following
        %span.count
          = current_user.following.length
        %span.hint Followers
        %span.count
          = current_user.followers.length
    %li.news
      %span.header
        News: 
      %span.icons
        -if @news
          =@news.headline
