#additional-images
  #preview
    =image_tag(@item.large_primary_image)
  %span.nav.prev{:style => "#{(@medias.size > 4) ? '' : 'display:none'}"}
    = image_tag '/images/app/inbox/previous-page-disabled.png'
  #all_images
    %ul.thumbs
      = render(:partial => 'items/show/shared/image', :collection => @medias)
  %span.nav.next{:style => "#{(@medias.size > 4) ? '' : 'display:none'}"}
    = image_tag '/images/app/inbox/next-page-disabled.png'
  .clear
  - if @medias.size > 0
    %p.item-source
      =link_to('images source: google.com', 'http://google.com')

              
:javascript
  jQuery(document).ready(function($){
        $.timer(15000, function(timer){
           if ("#{@item.unfinished_images}" == "true"){
              var id = ''; 
              if ($('#additional-images .thumbs').find('img:last').length != 0 ){
                id = $('#additional-images .thumbs').find('img:last').attr('id').replace('image-', '');
              }
              jQuery.post("/items/#{@item.id}/refresh_images", { media_last_id : id}, function(data){
                  if ((jQuery.trim(data) != '') && (jQuery.trim(data) != 'stop')) {
                    $("#additional-images .thumbs").append(data);
                    $("#additional-images #all_images").removeClass("carousel");
                    $("#additional-images .nav").hide();

                  }
                  if (jQuery.trim(data) == 'stop'){
                    timer.stop();
                  }
                 }
              );
          }
          else {
            timer.stop();
          }
         });
    });
