-content_for :scripts do
  = javascript_include_tag 'pagination/hype_pagination'
  = javascript_include_tag 'pagination/comment_pagination'
  = javascript_include_tag 'pagination/tips_pagination'
  = javascript_include_tag 'carousel/jcarousellite_1.0.1.pack.js'
  %link{:rel => 'image_src', :href => @item.item_image}
#item_snapshot
  .header.clear
    .container
      #buttons-left
        .hype-it 
          = link_to "Hype It!", new_item_review_path(@item), :class => "hype-item", :id => 'hype-button'
        %br
        %ul.sharing
          %li
            Share
          %li= link_to_share("Do you have experience with #{@item.name}. If so, check out the hype & post what you know. #{@item.get_item_custom_url}", @item.id)
          %li
            %a{:name => "fb_share", :type =>"icon", :share_url =>"http://test.thehypenetworks.com/items/#{@item._id}", :href =>"http://www.facebook.com/sharer.php"}
      
        %br
        %br
      
      .item_details 
        .item_right{:style=>"width:851px;"}
          %div.item_activities
            - if @activities and !@activities.empty?
              %ul.scroller
                -for activity in @activities do
                  -if  user = User.find_by_id(activity.user_id, :select =>'id')
                    %li.activity{:style=>" border-top: 1px solid #ccc"}
                      =  link_to(image_tag(user.profile.avatar.url(:thumb), :class => 'photo'), user_path(activity.user))
                      %span
                        = activity.desc_for_item
            - elsif @ids
              .no_activity
                No activity by
                %span Your 
                Crowd. Share this item with friends to gather some wisdom.

          .rating{:style => "background: url(#{score_image_url(@score)}) center center no-repeat"}
            = @score
        .item_images
          =image_tag(@item.thumb_image)
        .item_content{:style=>"width:330px"}
          %div{:style=>"width:525px;height:84px;"}
            %h2{:style => 'height: auto;margin-bottom:0px'}
              -if @item.name.length >= 42
                =h(truncate(@item.name, 42, "..."))
              -else
                =h(@item.name)
              %span{:style => 'color: #999; font-size: 18px; padding-left: 14px;'}
                - if @item.category.parent
                  =@item.category.parent.name
                =@item.category.name
            .criteria{:style=>"margin-bottom:0px"}
              - c1 = criteria_1(@item.id)
              - c2 = criteria_2(@item.id)
              - c3 = criteria_3(@item.id)
              %span.stats.qtip{:rel => 'bottomMiddle-topLeft-x-25', :title => c1[1]}= c1[0] + " <b>#{@criteria[0]}</b>"
              %span.stats.qtip{:rel => 'bottomMiddle-topLeft-x-20', :title => c2[1]}= c2[0] + " <b>#{@criteria[1]}</b>"
              %span.stats.qtip{:rel => 'bottomMiddle-topLeft-x-20', :title => c3[1]}= c3[0] + " <b>#{@criteria[2]}</b>"
          %div{:style=>"width:525px;height:42px;"}
            %p{:style => "margin-top: 0px;"}
              %span.extra_info
                Based on:
              = link_to pluralize(@reviews.total_entries, "Hype"), :anchor => "Hypes"
              %br
              %span.extra_info
                Tags: 
                -for tag in @item.tag_cloud(@ids)[0,3]
                  =link_to(truncate(tag['tag'], :length => 10), new_item_label_path(@item), :class=>"just-tag tag-item")
              %span.all-tag
                = link_to "See All", new_item_label_path(@item), :class => "tag-item", :id => 'all-tag-button', :title => 'View All Tags'
          - if current_user
            .item_menus{:style=>"width:420px;"}
              .item-filter
                .menu-item
                  = link_to('The Crowd', (current_path == item_path(@item)) ? 'javascript:;' : item_path(@item), :class => "#{params[:scope] ? '' : 'selected'} option")
                .menu-item
                  = link_to("<span class='underline'>Your</span> Crowd", (current_path == item_path(@item, :scope => 'following')) ?  'javascript:;' : item_path(@item, :scope => 'following'), :class => "#{params[:scope] ? 'selected' : ''} option")
              .favorites-wrapper
                = render :partial => 'items/favorite', :locals => {:item_favorite => @item_favorite, :item => @item}
              .tag-it
                = link_to image_tag('app/tag.png', :alt => 'Tag It!'), new_item_label_path(@item), :class => "tag-item qtip", :id => 'tag-button',:title => 'Select the icon to add ‘Tags’ to this item. Tags help everyone easily discover and find items that share similar traits.', :rel => 'bottomMiddle-topLeft-min-260'
      %br.clear
    %br
