.columns.one.clearfix
  .column.one
    %h1= "Manage #{@site.name} blog posts"

    .tabs.clearfix    
      %ul
        %li= link_to "Blog Posts", "#tab1"
        %li= link_to "Add a new post", new_admin_post_url()
      .clearfix
      #tab1
        - if @posts
          / Blog posts
          %h2 Blog Posts
          %table{:class => "listings sortable", :cellspacing => "0", :cellpadding => "0"}
            = render :partial => 'thead'
            %tbody
              = render :partial => "post", :collection => @posts
        - else
          %p There are no blog posts.