= javascript_include_tag 'signin'
.index{:style=>"margin-top:-141px"}
  #centered_forms{:style=>"background-color:#ffffff;margin-right:245px;background:url('images/app/forgot-password-background.png') no-repeat;width:663px;height:381px;border:0;padding-top:22px;"}
    .padding{:style=>"padding:20px 20px 20px 41px;"}
      %h2{:style=>"margin-bottom:0px"} Forgot your password?
      %p{:style=>"margin-bottom:0px"} 
        You can enter your username or email and we will send reset instructions to the email <br />
        associated with this account.
      - form_tag passwords_path do
        %fieldset{:style=>"margin-top:-5px;"}
          %legend Request a Password Reset
          .row{:style=>"margin-top:5px;"}
            = label_tag 'login_or_email',"Enter username or email",{:style=>"margin-top:7px;position:absolute;width:151px;margin-left:4px;color: #888888;"}
            = text_field_tag 'login_or_email',nil,{:style=>'padding:5px 5px;',:class => 'label_example'}
            %div{:style=>"margin-left:323px;margin-top:-32px;"}
              = image_submit_tag("/images/app/send_instructions.png")
          %p
            Or, you can login with your Facebook credentials and reset your password from your <br />
            settings on The Hype.
          .fb_connect_button{:style => "position:relative;"}
            = fb_login_button("window.location = ' ';", :v => 2, :length => :long)
            =image_tag("/images/app/Button_login_with_facebook.png",:style=>"position:absolute;top:0px;left:0px;")
            
          .save_actions
            .cancel_align{:style=>"float:right;"}
              ="#{link_to 'Cancel, and go back', login_url}"

