.friends
  = render(:partial => "friends/common.html.haml")
  .content
    = render(:partial => "friends/menu.html.haml")

    .text-area
      .header
        Find your friends on The Hype by linking with your Facebook account
      Linking your Facebook account is the easiest way to ensure you gather your crowd of trusted sources.
      %br
      After linking your Facebook account we will search The Hype and display your friends who are already
      %br
      on the site. You can also send an invite to those friends who are not yet on The Hype
    .arrow
      -#= image_tag("app/f_arrow.png")

    %div
      %img{:src => "/images/app/invite-arrow.png",:style => "margin-left: 93px; margin-top: -25px; margin-bottom: -11px;"}
      .log
        -#=image_tag("app/facebook_link.png")
        = fb_login_button('window.location = "friends/facebook/new?id_provider=facebook";', :v => 2, :length => :short,:size=>:small)
        .button
          = image_tag("app/facebook_link.png",:style => "position:absolute;")
      .desc{:style => "margin-left:135px;margin-top:-35px;"}
        Select 'Link,' enter your Facebook information, and allow The Hype to connect
        %br
        with Facebook to find your Facebook friends who are on The Hype
      -#.preview
        -#%input{:id => "auto_post", :type => 'checkbox', :checked => true}
      -#.preview-label
        -#Preview
      .clear
      %br
    %div{:style => "#{@face.nil? ? 'display:none' : ''}"}
      #c_user
        -if @count==0
          %div{:style => "color:#000;font-weight:bold;font-size:1.3em"}
            None of your friends on The Hype
        -else
          %div{:style => "color:#000;font-weight:bold;font-size:1.3em"}
            = "#{@count} of your friends on The Hype"
          Select the Follow button to add them to Your Crowd od trusted sources.
      %br
      .select-all{:style => "display:none"}
        %input{:id => "select_all_hype", :type => 'checkbox', :checked => false,:val=>@arr*","}
        -#.select-all-label
        Select All
        .clear
      - td_limit = 3
      - no_of_tds = 0
      .results{:style => "#{@count == 0 ? 'display:none' : ''};width:500px;"}
        .photo
          %table{:width => "100%"}          
            -if !@h_friend_list.nil? 
              -@h_friend_list.each_with_index do |hf|
                -@h_friend_pics.each_with_index do |hp|
                  -@h_ids.each_with_index do |hid|                    
                    -if !hf.nil? && hp[0][0]==hf[0][0] && hp[0][0]==hid[0][0] && hf[0][0]==hid[0][0]
                      -if no_of_tds%td_limit == 0
                        %tr
                      -else
                        
                      %td 
                        - no_of_tds += 1
                        .pics
                          =image_tag hp[0][1]
                          %span{:style=>"vertical-align: 42px; padding-left: 8px;"}
                            =hf[0][1]
                          .add-to-friends#add{:class => "#{@add_to_friends_display}",:style => "#{current_user.has_friend(User.find(hid[0][1])) ? 'display:none' : ''}"}
                            = link_to image_tag('/images/app/avatar_follow1.png'), "#", :rel =>hid[0][1], :title => "Add to friends"
                          .add-to-friends#remove{:class => "#{@add_to_friends_display}",:style => "#{current_user.has_friend(User.find(hid[0][1])) ? '' : 'display:none'};"}
                            = link_to image_tag('/images/app/unfollow_me1.png'), "#", :rel =>hid[0][1], :title => "Remove friend"
                        
      .clear
      %div{:style => "display: none"}
        .select-all{:style => "#{@fri.nil? || @fri.empty? ? 'display:none' : ''}"}
          %input{:id => "select_all_fb", :type => 'checkbox', :checked => false}
          -#.select-all-label
          Select All
          .clear
        -if @fri.nil? || @fri.empty?
          No Contacts in Facebook
        -else
          .results
            %img{:id => "results-spinner", :style => "display:none;", :src => "/images/wait.gif"}
            -if !@fri.nil?
              -@fri.each do |f|
                -if @face
                  -if !f.nil?
                    .fb_friends
                      %input{:id=>"fbuser_" ,:name => "f_friends", :type => "checkbox", :value => "#{f.uid}"}/
                      =f.name
                    .clear
                  
          .button
            %a{:id => "email_preview", :href => "#email_popup"}
              <img src='/images/app/send2.png' />
            %a{:id => "auto_email", :class => "invites_submit", :href => "javascript:;", :style => "display:none"}
              <img src='/images/app/send2.png' />
          .preview    
            -#%input{:id => "auto_post", :type => 'checkbox', :checked => true}
            %input{:id => "preview_email", :type => 'checkbox', :checked => true}
          .preview-label
            Preview
    .clear
    -# Publish comment
    .text-area
      .header
        Post To Feed
      To post an invite as a status update for all your friends to see
      %br
      select 'Invite'. Before the invite is sent you can preview and edit
      %br
      it to your liking. After previewing the invite select 'Publish'. It will
      %br
      then be posted to your News Feed.
    %div
      .button
        = fb_feed(current_user)
      .preview
        %input{:id => "auto_post", :type => 'checkbox', :checked => true}
      .preview-label
        Preview
      .clear
  %div{:style => "display: none"} 
    .popup-content{:id => "email_popup"}
      .header
        .image= image_tag('app/facebook_after_fetch.png')
        .text
          .top Here is what your Message will say:
          .bottom You can also edit this message as you like
      .header-logo
        = image_tag("app/blue_header_logo.png")
        .preview Preview
        .clear
      = text_area_tag('email_body_preview', "Hi there,\n\nI am trying out this new site called The Hype. It allows you to easily showcase your consumer knowledge with friends. \nYou can share your experience on any consumer item and whether you believe it to be worth the hype or not.\n\nTo check out the site and what I believe to worth the hype select the link below.\n\nwww.thehype.com\n\nHope to see you on The Hype!\n", :rows => 10)
      .line
      .submit{:class => 'invites_submit'}
        %input{:type => "image", :src => "/images/app/send_blue.png"}
      .back
        %a{:id => 'back', :href => "javascript:;"}Back
      .spinner 
        %img{:id => "spinner2", :style => "display:none;", :src => "/images/wait.gif"}
        
        
        
        
        
        
        
        
        
:css
  .friends.content.results.photos.pics
    width: 30px;
    height: 30px;
