- else
  %h2{:style => 'clear: left; margin-left: 10px'}
    Showing results for
    %strong= "\"#{@query}\""

  %br.clear
  .results

    %br.clear
    
    
    
    .paging
      - if @page == 1
        = link_to "More Results", search_url(:query => @query, :page => @page.to_i + 1)
      - else
        = link_to "Previous", search_url(:query => @query, :page => @page.to_i - 1) unless @page.to_i == 1
        « Page #{@page} » 
        = link_to "Next", search_url(:query => @query, :page => @page.to_i + 1)
    %br.clear
