- field_set_tag "Pros and Cons", :id => "tags_pros_cons" do
  .row
    .label
      %label.the-good= "The Good"
    .field
      = text_field_tag 'pro_list', '', :size => 60, :title => 'Enter your own or select, if any, all that apply from below.', :class => 'pros-cons'
      - @pros = @item.pros
      - @size = @pros.size
      %ul.pros
        - @pros.first(5).each do |pro|
          %li= link_to pro, "#"

        -if @size > 5
          #show-pros
            - @pros[5..@size].each do |pro|
              %li= link_to pro, "#"
      -if @size > 5
        %span.more-hide= link_to 'show more', 'javascript:;', :class => 'more-show', :rel => 'show-pros'
    %br.clear
  .row
    .label
      %label.the-bad= "The Bad"
    .field
      = text_field_tag 'con_list', '', :size => 60, :title => 'Enter your own or select, if any, all that apply from below.', :class => 'pros-cons'
      - @cons = @item.cons
      - @size = @cons.size
      %ul.cons
        - @cons.first(5).each do |con|
          %li= link_to con, "#"

        -if @size > 5
          #show-cons
            - @cons[5..@size].each do |con|
              %li= link_to con, "#"
      -if @size > 5
        %span.more-hide= link_to 'show more', 'javascript:;', :class => 'more-show', :rel => 'show-cons'
    %br.clear
- field_set_tag "Sharing Buttons", :id => "sharing_buttons" do
  .row
    // link_to "Worth the Hype?", "#", :class => "recommend_this"
    // link_to "Add To My Top Ten", "#", :class => "top_ten_this"
    = f.check_box :recommended, :style => "display: none"
