.hypes.tab#details
  = render :partial => 'items/show/shared/images_display'
            
 
  -cache(:key => @item.id.to_s + '_details') do
    .desc_holder
      = render :partial => 'items/show/shared/description'
      - if @item.source_name    
        %p.item-source
          = link_to 'source: ' + @item.source_name.to_s, @item.source_url
      - if !@item.url.blank?
        %div.info_box
          %strong Website &nbsp;
          %a{:href => full_url(@item.url)}= @item.url
    %h1.clear The Cast
    .all-items.clear
      =render :partial => 'items/item', :collection => @item.movie_cast
      %br.clear
      
    %h1.clear Movie Facts
    .all-items.clear
      %table
        - if @item.director
          %tr
            %td.label Director:
            %td.data= @item.director 
        %tr
          %td.label Released:
          %td.data
            = @item.released.strftime("%B %d, %Y") if @item.released
        %tr
          %td.label Budget:
          %td.data= number_to_currency(@item.budget, :precision => 0)
        %tr
          %td.label Earnings:
          %td.data= number_to_currency(@item.revenue, :precision => 0)
        %tr
          %td.label Runtime:
          %td.data= @item.runtime.to_s + ' Minutes'
        %tr
          %td.label Movie Homepage:
          %td.data= link_to(@item.url, @item.url)
      %br.clear
  %br
  %br

  %h1.clear{:style=>"padding-top:40px;"}
    Similar Items
    = render(:partial => 'items/select_similar', :locals => {:target => 'similar_items'})
  .all-items.clear
    = render :partial => 'items/item_hash'


