.item
  .item_image
    = item_image_with_link(item)
  %h4= link_for_item(item)
  .item_category{:style => 'color: #a2a2a2; font-size: 90%'}
    - if item.category.parent
      = h(item.category.parent.name + ' ' + item.category.name)
    - elsif item.category
      = h(item.category.name)
  - if item.last_hyped_at
    .status
      Hyped
      = short_time_ago_in_words(item.last_hyped_at) + " ago"
  - if item.score and item.score > 0
    .meta{ :class => item.score_color }
      .rating
        = item.score.round(1)
  =# render :partial => "shared/overlay_panel", :locals => {:item => item}
