.friends
  = render(:partial => "friends/common.html.haml")
  .content
    = render(:partial => "friends/menu.html.haml")

    .text-area
      .header
        Invite your friends by sending them a personalized email
      To import your Gmail contacts select 'Sync' and enter your Gmail information.Once
      %br
      your contacts are imported select the friends you want to send an invite to, preview
      %br
      and edit the invite , and then click 'Send'. We will do the rest. We only send emails
      %br
      to those you select and do not save any of the contact information that is imported.
      %br
      
    .sync
      %a{:id => "gmail_auth", :href => "#gmail_auth_popup"}= image_tag("app/gmail_sync.png", :alt => '')
      .sync-label
        This will allow The Hype to access your Gmail account and import your contacts
    .select-all
      %input{:id => "select_all", :type => 'checkbox', :checked => false}
      .select-all-label
        Select All
      .clear


    - form_tag(friends_invites_path, :id => "invites_form") do
      .results
        %div{:id => "results-info"}
          Click on Sync button to connect with your Gmail account
        %img{:id => "results-spinner", :style => "display:none;", :src => "/images/wait.gif"}
      %div{:style => "display:none;"}
        = text_area_tag('email_body')
          

    .button
      %a{:id => "email_preview", :href => "#email_popup"}
        <img src='/images/app/send2.png' />
      %a{:id => "auto_email", :class => "invites_submit", :href => "javascript:;", :style => "display:none"}
        <img src='/images/app/send2.png' />
    .preview
      %input{:id => "preview_email", :type => 'checkbox', :checked => true}
    .preview-label
      Preview
    .spinner-main 
      %img{:id => "spinner", :style => "display:none;", :src => "/images/wait.gif"}
    .clear


  %div{:style => "display: none"}
    .popup-content{:id => "gmail_auth_popup"}
      .header-logo
        = image_tag("app/gmail-red-logo.png")
        .preview Gmail
        .clear
      .header
        Enter your Gmail login credentials so that we can import your contacts
      - form_tag("/friends/contacts", :id => "gmail_form") do
        login:
        = text_field_tag('login')
        password:
        = password_field_tag('password')

      .line
      .submit
        %img{:src => "/images/app/next.png", :id => 'gmail_submit'}
      .back
        %a{:id => 'back', :href => "javascript:;"}Back
      .clear

    .popup-content{:id => "email_popup"}
      .header
        .image= image_tag('app/gmail-red-logo.png')
        .text
          .top Here is what your Message will say:
          .bottom You can also edit this message as you like
      .header-logo
        = image_tag("app/blue_header_logo.png")
        .preview Preview
        .clear
      = text_area_tag('email_body_preview', "Hi there,\n\nI am trying out this new site called The Hype. It allows you to easily showcase your consumer knowledge with friends. \nYou can share your experience on any consumer item and whether you believe it to be worth the hype or not.\n\nTo check out the site and what I believe to worth the hype select the link below.\n\nwww.thehype.com\n\nHope to see you on The Hype!\n", :rows => 10)
      .line

      .submit{:class => 'invites_submit'}
        %input{:type => "image", :src => "/images/app/send_blue.png"}
      .back
        %a{:id => 'back', :href => "javascript:;"}Back
      .spinner 
        %img{:id => "spinner2", :style => "display:none;", :src => "/images/wait.gif"}
      .clear


