%h2 Select a Match for Location, Date/Time & Description

After selecting any of the available matches the description, location and date/time will populate. Before selecting 'Next' please review & enter your own if none appears or change what is not correct.
%br
%br
Click on one of the Event descriptions below
%br/
- @items.each_with_index do |item,index|
  .item-suggestion
    %dt.first.item-name.event{ :id => "item-#{index}", :style => 'color: #225588'}= h(item.name) + ' - ' + item.name.to_s
      
    %dd.hidden.first.description
      - if item.short_description and item.short_description != ''
        = item.short_description
      - elsif item.full_description and item.full_description != ''
        = item.full_description
      - else
        = item.name + ' Description Not Found'
       
    %span.hidden.source_id= item.source_id
    %span.hidden.full_description= item.full_description
    %span.hidden.artist_name= item.artist_name
    
    
    
    %span.hidden.address= item.address
    %span.hidden.city= item.city
    %span.hidden.zip= item.zip
    %span.hidden.country= item.country
    %span.hidden.state= item.state
    
    %span.hidden.start_date= item.start_datetime.to_datetime.strftime("%m/%d/%Y")
    
    -minute = item.start_datetime.to_datetime.min().to_s
    -if minute = '0'
      -minute = '00'
    %span.hidden.start_time= item.start_datetime.to_datetime.hour().to_s + ':' + minute
    
    %span.hidden.end_date= item.end_datetime.to_datetime.strftime("%m/%d/%Y")
    
    -minute = item.end_datetime.to_datetime.min().to_s
    -if minute = '0'
      -minute = '00'
    %span.hidden.end_time= item.end_datetime.to_datetime.hour().to_s + ':' + minute
