Click on one of the Album descriptions below
%br/
- @items.each_with_index do |item,index|
  .item-suggestion
    %dt.first.item-name{ :id => "item-#{index}", :style => 'color: #225588'}
      -release_year = item.released.nil? ? '' : item.released.year.to_s
      = h(item.name) + ' - ' + release_year
      / for some reason using item.released.year was giving nil error...
      
    %dd.hidden.first.description
      - if item.short_description and item.short_description != ''
        = item.short_description
      - elsif item.full_description and item.full_description != ''
        = item.full_description
      - else
        = item.name + ' Description Not Found'
       
    %span.hidden.source_id= item.source_id
    %span.hidden.full_description= item.full_description
    %span.hidden.release_year= release_year