Click on one of the place results below
%br/
- @items.each_with_index do |item,index|
  .item-suggestion
    %dt.first.item-name{ :id => "item-#{index}", :style => 'color: #225588'}
      = h(item.name)
      
    %dd.hidden.first.description
      - if item.short_description and item.short_description != ''
        = item.short_description.gsub(/<\/?[^>]*>/, "")
      - elsif item.full_description and item.full_description != ''
        = item.full_description.gsub(/<\/?[^>]*>/, "")
      - else
        = item.name + ' Description Not Found'
       
    %span.hidden.source_id= item.source_id
    %span.hidden.full_description= item.full_description.gsub(/<\/?[^>]*>/, "")

    %span.hidden.address= item.address
    %span.hidden.city= item.city
    //%span.hidden.zip= item.zip
    //%span.hidden.state= item.state
