-type = type || 'item'
-if @items and !@items.empty?
  - @items.each do |item|
    %dl.item-suggestion
      %dt.first.item-name{:id => "#{type}-#{rand(1000)}"}
        = h(item.name)
        - if item.artist_name 
          = ' - ' + item.artist_name.to_s
      - unless (type == 'place_only') ||  (type == 'event_only')
        %dd.hidden.first.description
          - if item.short_description and item.short_description != ''
            = item.short_description.gsub(/<\/?[^>]*>/, "")
          - else
            = item.name + ' Description Not Found'
        %span.hidden.source_id= item.source_id
        %span.hidden.artist_name= item.artist_name
      - else
        %dd.hidden.first.description
          - if item.short_description and item.short_description != ''
            = item.short_description.gsub(/<\/?[^>]*>/, "")
          - elsif item.full_description and item.full_description != ''
            = item.full_description.gsub(/<\/?[^>]*>/, "")
          - else
            = item.name + ' Description Not Found'
        %span.hidden.source_id= item.source_id
      - if type == 'place' || type == 'place_only' || type == 'event' || type == 'event_only'
        %span.hidden.address= item.address
        %span.hidden.city= item.city
        %span.hidden.zip= item.zip
        %span.hidden.country= item.country
        %span.hidden.state= item.state
      - if type == 'event' || type == 'event_only'
        %span.hidden.start_date= item.start_datetime.to_datetime.strftime("%B, %d %Y") if item.start_datetime
        %span.hidden.start_time= item.start_datetime.to_datetime.strftime("%I:%M %p") if item.start_datetime
        %span.hidden.end_date= item.end_datetime.to_datetime.strftime("%B, %d %Y") if item.end_datetime
        %span.hidden.end_time= item.end_datetime.to_datetime.strftime("%I:%M %p") if item.end_datetime

  .clear
- else
  %div.empty 
    No results
