.index
  = error_messages_for :user
  %div.change-password
    %h2 To change your password complete the fields below
    - form_for @user, :url => user_password_path(@user), :builder => HandcraftedFormBuilder do |f|
      = f.password_field :current_password, :label => "Current password"
      = f.password_field :password, :label => "New password", :hint => 'Must be minimum of 6 characters'
      = f.password_field :password_confirmation, :label => "Confirm new password"
      = f.submit "", :class => 'white_save'
    