.post.hentry{:id => "post-#{post.id}"}
  - if @post
    %h1.post_title.entry-title
      = post.title
  - else
    %h2.post_title.entry-title
      = link_to_unless_current post.title, post_url(post), :rel => "bookmark"
  /
    .post_summary.entry-summary
      -# markdown(post.summary)

  .post_info
    %ul
      %li
        %a{:href => "#{post_url(post)}", :rel => "bookmark"}
          %abbr{:title => post.posted_at.to_s(:mf), :class => "published"}= post.posted_at.to_s(:long_date)
      %li.author.vcard
        %span.fn
          %a{:href => url_for(user_path(post.author))}
            = post.author.name
      - if logged_in? && current_user.admin?
        %li= link_to "Edit Post", edit_admin_post_url(post)
    
  .post_body.entry-content
    = markdown(post.body)

  .post_viral
    %h3 Share this post on:
    %ul
      %li= link_to "<span>Twitter</span>", "http://twitter.com/home?status=RT @handcrafted: '#{post.title}' #{post_url(post)}", :class => "post_viral_twitter", :title => "Post this to Twitter"
      %li= link_to "<span>Digg</span>", "http://digg.com/submit?phase=2&amp;url=#{post_url(post)}&amp;title=#{post.title}", :class => "post_viral_digg", :title => "Submit this post to Digg.com"
      %li= link_to "<span>del.icio.us</span>", "http://del.icio.us/post?url=#{post_url(post)}&amp;title=#{post.title}", :class => "post_viral_delicious", :title => "Bookmark this post to del.icio.us"
      %li= mail_to "tips@lifehacker.com", "<span>Lifehacker</span>", :cc => "contact@tastyplanner.com", :subject => "RE:#{post.title} at TastyPlanner.com", :body => "Hi Gina...\n\nYou should review this blog post at the #{@site.name} blog and write something about it at Lifehacker.com. Here are the details.\n\nPost Title: #{post.title}\n\nURL: #{post_url(post)}", :class => "post_viral_lifehacker", :title => "Email Gina Trapani at Lifehacker.com about this post", :encode => "hex"