.columns.one.clearfix
  .column.one
    %h1= "Manage #{@site.name} users"
    
    .tabs.clearfix
      %ul
        %li= link_to "Email Templates", "#tab1"
      .clearfix
      // Tab 1
      #tab1
        / Email templates
        %h2 Email templates
        %table{:class => "listings sortable", :cellspacing => "0", :cellpadding => "0"}
          = render :partial => 'thead'
          %tbody
            = render :partial => "email", :collection => @emails