.columns.one.clearfix
  .column.one
    %h1= "Site Settings"

    = error_messages_for 'site_setting'
    - form_for(@site, :url => admin_site_setting_url, :method => :put, :builder => HandcraftedFormBuilder) do |f|
      %fieldset
        %legend Site Settings
        = f.text_field :name, :label => "Site Name", :example => "Handcrafted Web App"
        = f.text_field :url, :label => "Site URL", :example => "http://app.gethandcrafted.com" 
        = f.text_area :description, :label => "Site Description", :example => "A handcrafted web app that will be all the rage"
        = f.text_field :admin_email, :label => "Outgoing email address", :example => "hello@app.gethandcrafted.com"
        = f.check_box :user_avatar_upload, :label => "Allow users to upload avatar pictures?", :hint => "Yes, turn on picture uploads"
        = f.check_box :beta_invites, :label => "Turn on beta invites?", :hint => "Yes, turn on beta invites"
        = f.check_box :referrals, :label => "Turn on tell a friend?", :hint => "Yes, turn on tell a friend"
        = f.check_box :allow_blog, :label => "Turn on the blog", :hint => "Yes, turn on the blog"
        = f.submit "Update the site settings"
