.columns.one.clearfix
  .column.one
    %h1= "Manage #{@site.name} users"
    
    .tabs.clearfix
      %ul
        %li= link_to "Active Users", "#tab1"
        %li= link_to "Passive Users", "#tab2"
        %li= link_to "Pending Users", "#tab3"
        %li= link_to "Suspended Users", "#tab4"
      .clearfix
      #tab1
        / Active Users
        %h2 Active Users
        - if !@active_users.empty?
          %table{:class => "listings sortable", :cellspacing => "0", :cellpadding => "0"}
            = render :partial => 'thead'
            %tbody
              = render :partial => "user", :collection => @active_users
        - else
          %p There are no active users.
      #tab2
        / Passive Users
        %h2 Passive Users
        - if !@passive_users.empty?
          %table{:class => "listings sortable", :cellspacing => "0", :cellpadding => "0"}
            = render :partial => 'thead'
            %tbody
              = render :partial => "user", :collection => @passive_users
        - else
          %p There are no passive users.
      #tab3
        %h2 Pending Users
        - if !@pending_users.empty?
          %table{:class => "listings sortable", :cellspacing => "0", :cellpadding => "0"}
            = render :partial => 'thead'
            %tbody
              = render :partial => "user", :collection => @pending_users
        - else
          %p There are no pending users.
      #tab4
        / Suspended Users
        %h2 Suspended Users
        - if !@suspended_users.empty?
          %table{:class => "listings sortable", :cellspacing => "0", :cellpadding => "0"}
            = render :partial => 'thead'
            %tbody
              = render :partial => "user", :collection => @suspended_users
        - else
          %p There are no pending users.