:css
  li.stream-li:hover{background-color:#EFF0F3;border-top:1px solid #CCCCCC;}
  li.comment-separator{height:0;margin-bottom:0;border:0;}
  li.stream-li{padding-bottom:5px;padding-top:5px;border-top:1px solid #E9E9E9;}

- if activity.user  and !activity.user.blank?
  -stream_user = activity.user 
  - item = Item.first(:id => activity.source_id_string, :select => 'id, name')
  %li.stream-li
    = link_to(image_tag(stream_user.profile.avatar.url(:small), :class => "photo"), user_path(stream_user), :class => "stream-avatar")
    %span.activity_content{:id => "ac-#{activity.id}"}
      %span.text_holder
        %span.meta
          = link_to stream_user.name, user_path(stream_user)
          = activity.description          
          -if item
            = link_to item.name, item_path(item)
        - if !activity.comment.nil?
          %span.text
            = truncate(h(activity.comment.comment_text),  :length => 140, :omission => '  ' + link_to('...more', item_path(item)))
        - elsif !activity.tip.nil?
          %span.text
            = truncate(h(activity.tip.advice),  :length => 140, :omission => '  ' + link_to('...more', item_path(item)))

        %span.time
          = time_ago_in_words(activity.activity_date) + ' ago'
          - unless Like.first(:conditions => {:object_id => activity.id, :object_type => 'Activity', :user_id => current_user.id})
            = link_to(image_tag('icons/like.png') + " Like", "javascript:;", :class => 'like_link', :id => "like-#{activity.id}", :rel => "box-#{activity.id}")
          = link_to(image_tag('icons/arrow-grey.png') + " Reply", "javascript:;", :class => 'reply_link', :id => "reply-#{activity.id}")
      %span.item_icon
        - if (activity.source_id_string != nil) and (activity.source_id_string != '')  and item
          = item_image_with_link(item) 

    .clear
    -likes_size = activity.likes.count
    -reply_size = activity.comments.count
    %ul.reply-box{:style => "#{ 'display: none' unless ((likes_size > 0) || (reply_size >  0)) }", :id => "box-#{activity.id}"}
      %li.like-box{:style => "#{ 'display: none' unless (likes_size > 0) }"}
        =render(:partial => 'activities/like', :locals => {:activity => activity, :size => likes_size})
      -if reply_size > 2
        %li
          = link_to(image_tag('icons/arrow-grey.png') + "View all #{reply_size} replies", 'javascript:;', :class => 'replies')
      -if reply_size > 0
        = render(:partial => 'activities/reply', :collection => activity.comments.all.first(2))
      %li.clear
        &nbsp;
  %li.comment-separator.clear{:style=>"margin-left:0;width:auto;border-bottom:1px solid #E9E9E9;display:none;"}
    &nbsp;
