-review = battle
-first = first || false
-if user = User.find_by_id(battle.user_id)
  .battle{:class => "#{'first' if first == true}"} 
    .avatar
      = image_tag(user.profile.avatar.url(:small), :class => 'photo')
    .last-item-hyped
      = link_to(h(user.name) , user_path(user))
      %br
      = last_hype_of_user(user)
  
    .rating
      = image_tag(score_image_url(review.score.to_f.round(1), 'small'))
          
    %ul.clear
      - criterias = all_criteria(review.item_id)
      %li.review_stat= criterias[0] + " <b>#{review.criteria_1.to_i.to_s}</b>"
      %li.review_stat= criterias[1] + " <b>#{review.criteria_2.to_i.to_s}</b>"
      %li.review_stat= criterias[2] + " <b>#{review.criteria_3.to_i.to_s}</b>"
    .clear
    - unless review.first_word_list.blank?
      .orange
        &quot;
        =truncate(h(review.first_word_list), :length => 100)
        &quot;
      .clear
    .link
      =link_to("See Full Review",'javascript:;', :class => 'tabable', :rel => 'reviews')
