-item = Item.first(:id => review.item_id, :select => 'id, name, short_description')
.hype.clearfix.review
  .review-left{:style => 'padding-right: 20px'}
    - if @controller.controller_name == "users"
      .item-image
        = link_to(image_tag(item.item_image, :width=>"150px"), item_path(item.id), :title => item.short_description)
        .hype-it
          = link_to "Hype It!", new_item_review_path(item), :class => "hype-item", :id => "hype-button-#{review.id}"
      %br.clear
    - else 
      = render :partial => 'users/user', :object => review.user
  .entry.last{:style=>"width:590px;"}
    - score = review.score.to_f.round(1)
    .rating{:style => "background: url(#{score_image_url(score, 'small')}) center center no-repeat"}
      - unless score.blank?
        = score
    %h2{:style => 'top: 0px; padding-left: 0px;'}
      - unless @controller.controller_name == 'Item'
        = item.name
        
    %ul.criteria{:style => 'clear: left;' }
      - criterias = all_criteria(item.id)
      %li.review_stat= criterias[0] + " <b>#{review.criteria_1.to_i.to_s}</b>"
      %li.review_stat= criterias[1] + " <b>#{review.criteria_2.to_i.to_s}</b>"
      %li.review_stat= criterias[2] + " <b>#{review.criteria_3.to_i.to_s}</b>"
    %h3
      = link_to "&quot;#{review.first_word_list}&quot;", item_path(item.id)
      %small
        = short_time_ago_in_words(review.created_at)
        ago
    .clear
    - unless review.pros.length < 1
      %span.cons
        <b>The Good:</b>
      %ul.tags 
        - review.pros.each do |tag|
          %li.good= h(tag.tag)
      .clear
    - unless review.cons.length < 1
      %span.pros
        <b>The Bad:</b>
      %ul.tags
        - review.cons.each do |tag|
          %li.bad= h(tag.tag)
      .clear
    - unless review.description.blank?
      %dl.other-comments.clearfix
        %dt= "<b>Review:</b>"
        %dd= markdown(review.description)
    %ul.sharing
      %li
        Share
      %li
        = link_to_share("Check out the hype on #{item.name} at http://thehype.com#{item_path(item.id)} .", item.id)
      %li{:rel => item.name}
        %a{:class => 'fake_facebook', :rel => item_url(item.id)}
          <img src="/images/icons/facebook_20.gif" alt="Fb_icon">
  .clear
.clear
