!!! Strict
%html{:xmlns => "http://www.w3.org/1999/xhtml", :lang => "en", :'xml:lang' => "en"}
  %head
    %title= page_title
    %meta{:'http-equiv' => "Content-Type", :content => "text/html; charset=utf-8"}
    %meta{:name => "copyright", :content => "Handcrafted"}
    %meta{:name => "lang", :content => "en"}
    = stylesheet_link_tag 'admin', 'admin_custom', 'admin_alerts', 'anytime'
    = render :partial => "layouts/head_meta"
    = render :partial => "layouts/admin_javascript"
  %body{:id => clean_controller_id(params[:controller])}
    #mast_head
      #branding
        = link_to "<span>#{@site.name} Admin</span>", admin_url, :rel => "home"
    = render :partial => "shared/admin/nav_main"
    = render :partial => "shared/flash_container"
    #container
      #sidebar
        = render :partial => "shared/admin/nav_auxiliary"
      #content
        #content_inner
          = yield
      #footer
        #footer_wrap
          #footer_content
            %p= "This is #{link_to "Handcrafted", "http://gethandcrafted.com/", :rel => "home"} &ndash; All Content Copyright &copy; 2008 Handcrafted, LLC"
            %p All Trademarks and Copyrights remain the property of their respective owners.
              
