!!! Strict
%html{:xmlns => "http://www.w3.org/1999/xhtml", :lang => "en", :'xml:lang' => "en"}
  %head
    %title= page_title
    %meta{:'http-equiv' => "Content-Type", :content => "text/html; charset=utf-8"}
    %meta{:name => "lang", :content => "en"}
    = stylesheet_link_tag 'compiled/bootstrap.css', 'bootstrap_alerts'
    = render :partial => "layouts/site_javascript"
    = render :partial => "layouts/ie6update"
    = render :partial => "layouts/head_meta"
  %body{:id => body_id(params[:controller], params[:id])}
    #container.clearfix
      #left
        #mast_head
          %h1 Handcrafted Bootstrap
          %h2= @site.description
          %p= "The Handcrafted Bootstrap is the starting point of a web application. It is a foundation of beautiful code based on our security protocols, best practices and maintainable, extensible, handcrafted code."
        .content
          %h2 Getting Started

          %p Follow the steps below to get started. The Handcrafted Bootstrap serves as the base starting point for your application. It follows all of Handcrafted's security protocols and best practices.

          %ol{:id => "first_steps"}
            - if @site.beta_invites?
              %li
                %h3= link_to "Request an Invite", new_invite_url
                %p= "The first thing you need to do is #{link_to "request an invite", new_invite_url} to create your account. If you have already received an invite to create your account, head to the #{link_to "signup page", signup_url} and create your account using the email you used when requesting your invite."
            %li
              %h3= link_to "Login", login_url
              %p= "Once you've received your invite and created your account, you'll be able to login. If you have been granted 'admin rights', you should see a link to the admin area in the right hand sidebar. If not, send an email #{mail_to "hello@gethandcrafted.com"} with your request."
            - if @site.referrals?
              %li
                %h3= link_to "Tell-a-friend", new_referral_url
                %p Optionally, you can use the tell-a-friend feature to invite a friend or colleague to join your site.
      #right
        = render :partial => "shared/flash_container"
        %h4 Navigation
        = render :partial => "shared/nav_user"
        .vcard
          %h4 More Information
          %ul
            %li= link_to "Handcrafted", "http://gethandcrafted.com/", :class => "fn org url"
            %li= link_to "Twitter &rarr; @handcrafted", "http://www.twitter.com/handcrafted"
            %li.hidden= "#{mail_to "hello@gethandcrafted.com",nil , :class => "email"}"
            %li.hidden.tel
              %span.type
                work
              %span.value
                832-220-9215
            %li.hidden.tel
              %span.type
                fax
              %span.value
                513-297-6061
        %h4 Contacts
        %ul
          %li= "#{mail_to "josh@gethandcrafted.com"}"
          %li= "#{mail_to "adam@gethandcrafted.com"}"
        %h4 Copyrights &amp; Credits
        %p= "&copy;2008 #{link_to "Handcrafted", "http://gethandcrafted.com/"}"
        = render :partial => "shared/footer"
    = render :partial => "shared/google_analytics"
