!!! Strict
- @controller_name = "Where you decide"
- @page_description = ""
- @page_keywords = ""
%html{:xmlns => "http://www.w3.org/1999/xhtml", :'xmlns:fb' => "http://www.facebook.com/2008/fbml", :lang => "en", :'xml:lang' => "en"}
  %head
    %title= page_title
    %meta{:'http-equiv' => "Content-Type", :content => "text/html; charset=utf-8"}
    %meta{:name => "lang", :content => "en"}
    = javascript_include_tag 'jquery.min.js','jquery-ui.min.js',  'signin', 'jquery.validate.js','jquery.fancybox-1.3.0.pack.js', 'landing', 'bootstrap/jquery.livequery.js'
    = stylesheet_link_tag 'compiled/landing.css'
    = stylesheet_link_tag 'jquery.fancybox-1.3.0.css'
    /[if IE]
      = stylesheet_link_tag 'compiled/ie.css'
    = render :partial => "layouts/head_meta"

  %body#landing
    .bg
      #container
        .column.logo
          =image_tag('/images/landing/logo-new.png')
        .column.main
          %ul
            %li.first= link_to('About', '/')
            %li.middle= link_to('Contact', '/beta_contact')
            %li.last= link_to('Blog', landing_path)
        
          .clear
          .clearfix
          =yield
        
        .column.connected
          .login-box
            = link_to image_tag('/images/landing/login-new.png'), beta_login_path, :class => 'fancybox'
          .icons
            =link_to(image_tag('/images/icons/connect_twitter.png'), 'http://www.twitter.com/thehype', :target => '_blank')
            =link_to(image_tag('/images/icons/connect_facebook.png'), 'http://www.facebook.com/thehype', :target => '_blank')
            %p 
              Stay Connected
        .clear
        = render :partial => "shared/flash_container"
        %p.foot= "&copy; #{Date.today.year} #{link_to @site.name, root_url}"
        = render :partial => "shared/google_analytics"