!!! Strict
%html{:xmlns => "http://www.w3.org/1999/xhtml", :lang => "en", :'xml:lang' => "en"}
  %head
    %title= page_title
    %meta{:'http-equiv' => "Content-Type", :content => "text/html; charset=utf-8"}
    %meta{:name => "lang", :content => "en"}
    = stylesheet_link_tag 'blog', 'blog_alerts'
    = render :partial => "layouts/site_javascript"
    = render :partial => "layouts/ie6update"
    = render :partial => "layouts/blog_rss"
    = render :partial => "layouts/head_meta"
  %body{:id => body_id(params[:controller], params[:id])}
    = render :partial => "posts/posts_admin"
    #container.clearfix
      #left
        .inner
          %p#blog_title= link_to "#{@site.name} Blog", blog_url
          = yield
      #right
        .inner
          = render :partial => "shared/flash_container"
          = render :partial => "posts/search_form"
          %h4 Navigation
          = render :partial => "shared/nav_user"
    = render :partial => "shared/google_analytics"
